/* General styles */
:root {
    --primary-color: #212121;
    --background-color: #111;
    --font: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: #1a1a1a;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    /* background-color: #FBFBFB!important; */
    background-color: #fbfbfb;
}


section {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    /* position: absolute;
    overflow: hidden;
    */
}


/*
section#main {
    top: 0;
}


section#about {
    top: 100vh;
}

section#tasks {
    top: 200vh;
}

section#services {
    top: 300vh;
}

section#blog {
    top: 400vh;
}

section#feedback {
    top: 500vh;
}

section#contact {
    top: 600vh;
}
*/

section h2, section#about article h3 {
    text-align: center;"
}

section h2 {
    padding-top: 5%;
    padding-bottom: 5%;
}

section#tasks,
section#blog,
section#feedback,
section#services{
    padding-bottom: 10%;
}

button {
    border-style: none;
}

a {
    text-decoration: none;
}


/*
.fixed-container {
    padding: 0 20px;
    max-width: 1240px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 1000px;
}

*/


.bg_belgian {
    background-color: #f5f1f0;
}


.bg_red_pretty {
    /* background-color: #ed2204; */
    background-color: #9BADE1;
    /* color: #ccc; */
    color: #fff;
    text-align: center;
    font-weight: 600;
}

.bg_red_pretty:hover {
   color: #fff;
   text-decoration: none;
   background-color: #597CE2;
}


.btn__send__me {
    display: block;
    width: 100%;
    padding: 1%;
    cursor: pointer;
}


.text__pretty {
    font-weight: 300;
    line-height: 1.55;
}

.text_blue_pretty {
    /* color: #ed2204; */
    color: #9BADE1;
}

.text_blue_bold__pretty {
    color: #597CE2;
}

.text__pretty__border__red {
    font-weight: 300;
    line-height: 1.55;
    /* border: 1px solid #ed2204; */
    border: 1px solid #9BADE1;
}

/** Navigation styles */
nav#section__navbar{
    padding-left: 0;
}

nav#section__navbar ul li a {
    font-size: 13px;
    font-weight: bold;
}

nav#section__navbar ul li a.nav-link {
    color: #484848;
}

nav#section__navbar .navbar-brand {
    color: #484848!important;
}


/** Section main */

section#main {
    min-height: 820px;
}

section#about,
section#tasks,
section#blog,
section#feedback,
section#contact {
    /*
    position: relative;
    top: 100vh;
    */
}

section#main article {
   margin-top: 20%;
   color: #fff;
}


section#main article div p {
  font-weight: 300;
  line-height: 1.55;
}

section#main article a {
    display: inline-block;
    padding: 0 30px 0 30px;
    height: 50px;
    text-decoration: none;
    cursor: pointer;
    line-height: 50px;
    font-size: 14px!important;
}

section#main article a.bg_red_pretty{
    font-weight: 600;
}


section article h2 {
    text-align: center;
}

.section__text__center {
    text-align: center;
}

.section__social_links li a i,
p.section__social_links a i {
    font-size: 18px;
    text-decoration: none;
}


section#main article #main__image__gif,
section#about article #about__img__gif {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 20%;
}


section#main article #main__image__gif {
    background-size: cover;
    height: 100%;
}

section#about article #about__img__gif {
    height: 600px;
    background-size: contain;
}


/* Section about me styles */

section#about {
   /* border: 1px solid #ccc; */
}

section#about article h3 {
    font-weight: 600;
}

section#about article ul {
    margin-left: 0; padding: 10px;
}

section#about article ul li {
    list-style-type: square;
}


/* Section tasks */

section#tasks {
   padding-bottom: 10%;
}


section#tasks .task-items .before-timeline,
section#tasks .task-items .timeline,
section#tasks .task-items .after-timeline
{
    border: 1px solid #ccc;
}
/*
section#tasks .task-blocks {
    border: 1px solid #000;
}

section#tasks .task-blocks .task-items {
   margin: auto 50%;
   border: 1px solid #e0a800;
   min-width: 100px;
}

section#tasks #task-item-blue {
    background-color: #7998DB;
}

section#tasks #task-item-blue-light {
    background-color: #85D9D9;
}

section#tasks #task-item-green-light {
    background-color: #77DFA6
}

section#tasks .task-item {
    border: 1px solid #ccc;
    width: 50px;
    height: 400px;
}

section#tasks .task-item:nth-child(odd) {
    background-color: #739DD9;
}


section#tasks .task-item:nth-child(even) {
    background-color: #78C5C5;
    margin-left: 50px;
}

*/


/* Section contact styles */
section#contact {

}


/* Section service */

section#services {
    /*
      background-color: #eeeeee!important;
      border: 1px solid #cccccc;
    */
}

.service-title {
    display: block;
    padding: 10px 15px;
    position: relative;
    cursor: pointer;
    color: #eeeeee;
    transition: background .3s ease-out;
}

.service-title:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.service-title:hover {
   background-color: #597CE2;
   color: #fff;
}

.service {
    width: 100%;
    margin: 0 auto;
}

.service-item {
    width: 70%;
    margin: 0 auto;
    /* border: 1px solid #ed2204; */
}

.service-text {
    display: none;
    padding: 10px;
}

.service-input {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}


.service-input:checked ~ .service-title {
    /* background-color: #ed2204; *//* при обращении к титлу оставим красный цвет, можно заменить на другой цвет */
    background-color: #597CE2;
}

.service-input:checked ~ .service-title:after {
    border-style: solid;
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent #fff transparent;
}

.service-input:checked ~ .service-text {
   display: block;
}

.service .service__price {
    display: block;
    text-align: left;
}

.service .service__price span {
    font-weight: 600;
}


/* Button Top */

.back__to__top {
    position: fixed;
    right: 10px;
    bottom: 200px;
    width: 50px;
    height: 50px;
    border-color: transparent;
    border-radius: 50%;
    background-color: #9bade1;
    display: none;
}


.back__to__top:hover,
.back__to__top:focus {
    /*
    filter: brightness(1.5);
    outline: none;
    */
    background-color: #597CE2;
}

.back__to__top::before,
.back__to__top::after {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.back__to__top::before {
   width: 5px;
   height: 20px;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   background-color: #f5f0f6;
}


.back__to__top::after {
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 5px solid #f5f0f6;
    border-left: 5px solid #f5f0f6;
}


/* MOUSE MOVE EFFECT */
section#main {
    position: relative;
}

section#main .paints {
    top: 0;
    width: 100vw;
}


/*
.paints {
    display: block;
    height: 100vh;
    width: 100vw;
}
*/


.container {
    z-index: 1000;
}
.paints {
    /*
    display: block;
    width: inherit;
    height: inherit;
     height: 100vh;
    width: 100vw;
    */
}
